@{
    ViewData["Title"] = "O nas";
}
<h2></h2>
<h3>Chciałbyś się dowiedzieć więcej o zespole tworzącym YourSquare?</h3>
<p>Jesteśmy grupą kilku osób, którzy zaliczyli PRO na 100% i otrzymai ocenę 5 z wyróżnieniem!</p>

<br />
<div class="form-inline">
<img src="~/images/janek.png"  />
<img src="~/images/lebek.png"  />
</div>
