@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>Skontaktuj się z nami</h3>

<address>
    <span class="glyphicon glyphicon-bookmark"></span> Polsko-Japońska Akademia Technik Komputerowych<br />
    <span class="glyphicon glyphicon-home"></span> Gdańsk<br />
    <span class="glyphicon glyphicon-earphone"></span> 425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s13928@pjwstk.edu.pl">s13928@pjwstk.edu.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:s13928@pjwstk.edu.pl">s13928@pjwstk.edu.pl</a>
</address>
