@model YourSquare1.Models.Advertisment

@{
    ViewData["Title"] = "Szczegoły ogłoszenia";
}

@Html.Partial("Partials/DetailsPartial", Model)
<div>

    <!--<a asp-action="Edit" asp-route-id="@Model.ID"><input type="submit" class="btn btn-warning" value="Edytuj"/></a>-->
    <a asp-action=""><input type="submit" class="btn btn-default" value="Powrót" /></a>

</div>
