@model YourSquare1.Models.Advertisment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edycja ogłoszenia</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("Partials/EditPartial", Model)
        <a asp-action="UserAdvertisments"><button class="btn btn-default">Powrót</button></a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
